/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.traffic {
    width: 100px;
    height: 300px;
    background-color: black;
    padding: 10px;
    margin: 100px auto;
    border-radius: 15%;
    margin-bottom: 0;
}

.lamp {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.glowingGreen {
    -webkit-box-shadow: 0px 0px 91px 50px rgba(45, 255, 196, 0.9);
    -moz-box-shadow: 0px 0px 91px 50px rgba(45, 255, 196, 0.9)
}

.glowingRed {
    -webkit-box-shadow: 0px 0px 105px 45px rgba(255, 46, 46, 0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(255, 46, 46, 0.9);
    box-shadow: 0px 0px 105px 45px rgba(255, 46, 46, 0.9);
}

.glowingYellow {
    -webkit-box-shadow: 0px 0px 105px 45px rgba(244, 255, 87, 0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(244, 255, 87, 0.9);
    box-shadow: 0px 0px 105px 45px rgba(244, 255, 87, 0.9);

}

.redTenue {
    background-color: #ff00008f;
}

.greenTenue {
    background-color: #00ff9d8f;
}

.yellowTenue {
    background-color: #d0ff008f;
}

.poste {
    background-color: black;
    height: 250px;
    width: 25px;
    display: block;
    margin: auto;
}

.purple {
    background-color: purple;
}

.glowingPurple {
    -webkit-box-shadow: 0px 0px 105px 45px rgba(255, 87, 230, 0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(255, 87, 230, 0.9);
    box-shadow: 0px 0px 105px 45px rgba(255, 87, 230, 0.9);
}

.trafficPurple {
    width: 100px;
    height: 400px;
    background-color: black;
    padding: 10px;
    margin: 100px auto;
    border-radius: 15%;
    margin-bottom: 0;
}